<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tuempresa.mitodoapp" version="1.0.0">
    <name>Mi To-Do App</name>
    <description>Gestiona tus tareas diarias</description>
    <author email="tu@email.com">Tu Nombre</author>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="android-compileSdkVersion" value="35" />
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="13.0" />
    </platform>
    <content src="index.html" />
</widget>